@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Futura-light;
    src: url(../fonts/futura/futura\ light\ bt.ttf);
}

@font-face {
    font-family: Futura-Medium;
    src: url(../fonts/futura/Futura\ XBlk\ BT.ttf);
}

@font-face {
    font-family: Futura-Heavy;
    src: url(../fonts/futura/Futura\ Heavy\ font.ttf);
}

@font-face {
    font-family: Futura;
    src: url(../fonts/futura/futur.ttf);
}

@font-face {
    font-family: Futura-Bold;
    src: url(../fonts/futura/Futura\ Bold\ font.ttf);
}

body {
    background-color: black;
    overflow-x: hidden;
    color: white;
}

b {
    color: #EA994F;
}

.resume_button {
    background-color: transparent;
    border: white solid 1px;
}

nav {
    margin-top: 2rem;
}

.nav-link {
    font-family: Futura-Medium;
    font-size: 16px;
    line-height: 84.3%;
}

#header_intro_l1 {
    font-family: Futura-light;
    font-size: 36px;
    line-height: 84.3%;
}

#header_intro_l2 {
    font-family: Futura-Medium;
    font-size: 48px;
    line-height: 84.3%;
}

#header_intro_l3 {
    font-family: Futura-Medium;
    font-size: 24px;
    line-height: 84.3%;
}

#header_intro_p {
    font-family: Futura-Heavy;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 2rem;
}


.header_hr {
    border: 1px solid white;
    width: 25%;
    text-align: left;
    margin-left: 0;
    margin-bottom: 1.5rem;
}

.header_intro {
    padding-left: 10%;
    padding-top: 8%;
}

#logo {
    margin-left: 8%;
}

#scroll {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6rem;
}

.works_border {
    border: white solid 1px;
    border-radius: 20px;
}

.section_heading {
    margin-top: 8rem;
    margin-bottom: 6rem;
    font-family: Futura-Medium;
    font-size: 36px;
    line-height: 84.3%;
}

.works_tag {
    background-image: linear-gradient(to right, #00E5FF, #3885F9,#594DF6);
    margin-left: -48px;
    padding: 15px 10px 15px 43px;
    color: white;
    width: 7rem;
    font-family: Futura-Medium;
    font-size: 18px;
    line-height: 84.3%;
}

.work-read-time {

    font-family: Futura;
    font-size: 12px;
    line-height: 84.3%;
}

.work-title {
    font-family: Futura-Medium;
    font-size: 24px;
    line-height: 120%;
}

.work-spec {
    font-family: Futura;
    font-size: 18px;
    line-height: 84.3%;
}

.work-info {
    font-family: Futura;
    font-size: 18px;
    line-height: 150%
}

.work_content {
    line-height: 200%;
}

.work_anchor {
    color: white;
}

.work_anchor:hover {
    color: white;
    text-decoration: none;
}

.blog_border {
    border: white solid 1px;
    border-radius: 12px;
}

.blog_img {
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    border-radius: 12px;
    height: 250px;
    width: 100%;
}

.blog_tag {
    background-color: #fff;
    color: black;
    width: 7rem;
    padding: 12px 10px 12px 8px;
    position: absolute;
    left: 0px;
    top: 1rem;
    z-index: 1;
    font-family: Futura-Medium;
    font-size: 18px;
    line-height: 84.3%;
}

.blog-title {
    font-family: Futura-Heavy;
    font-size: 14px;
    line-height: 20px;
}

.blog-info {
    font-family: Futura;
    font-size: 12px;
    line-height: 14px;
}

.about-title {
    font-family: Futura-Medium;
    font-size: 36px;
    line-height: 84.3%;
}

.about-content {

    font-family: Futura-Medium;
    font-size: 18px;
    line-height: 163%;
}

.about_stats {
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.about-stat-number {

    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
}

.about-stat-info {
    font-family: Futura;
    font-size: 18px;
    line-height: 21px;
}

.about-pass-title {
    font-family: Futura-Medium;
    font-size: 36px;
    line-height: 84.3%;
}

.about-pass-desc {

    font-family: Futura;
    font-size: 18px;
    line-height: 84.3%;
}

#footer {
    margin-top: 15rem;
    margin-bottom: 8rem;
}

.footer-title {
    color: #717171;
    font-family: Futura-Medium;
    font-size: 36px;
    line-height: 100%;
}

.footer-subtitle {
    font-family: Futura-Medium;
    font-size: 24px;
    line-height: 100%;
}

.footer-mail {
    font-family: Futura-Medium;
    font-size: 18px;
    line-height: 21px;
}

#cs_title {
    font-family:Futura-Bold;
    font-size: 36px;
    line-height: 30px;
}

.cs_phase {
    font-family: Futura-Heavy;
    font-size: 34px;
    line-height: 21px;
    color: #717171;
}

.cs_subtitle {
    font-family: Futura-Heavy;
    font-size: 26px;
    line-height: 21px;
}

.cs_content {
    font-family: Futura;
    font-size: 17px;
    line-height: 28px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.more_btn {
    background-color: transparent;
    border: white solid 1px;
    font-family: Futura-Medium;
    font-size: 18px;
    line-height: 21px;
    margin: 2rem 0rem;
}

.more_btn:hover {
    background-color: white;
    border: black;
    color: black;
}